<h1>Editing blog post</h1>

<%= render "form", blog_post: @blog_post %>

<br>

<div>
  <%= link_to "Show this blog post", @blog_post %> |
  <%= link_to "Back to blog posts", blog_posts_path %>
</div>
