<p style="color: green"><%= notice %></p>
<div class="m-5">
  <% if BlogPost.last %>
    <%= render 'head_post_card', blog_post: BlogPost.last %>
  <% end %>
</div>
<div class="flex flex-col">
  <div class="flex justify-between" id="latest_posts" >
    <h1 class="pl-4 pt-10 pb-2 font-bold text-xl">Latest Posts</h1>
  </div>
  <div id="search_results">
    <%= render 'search_results'%>
  </div>
</div>
</div>
