<p style="color: green"><%= notice %></p>
<div id="blog_posts" class="max-w-5xl m-5">
  <% @blog_posts.each do |blog_post| %>
    <%= render 'post_card', blog_post: blog_post %>
    <p>
      <%= link_to "Show this blog post", blog_post %>
    </p>
  <% end %>
</div>
<%= link_to "New blog post", new_blog_post_path %>
