<div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-files="1" data-dropzone-accepted-files="application/pdf">
  <%= form.file_field :file, direct_upload: true, data: { dropzone_target: 'input' } %>
  <div class="dropzone-msg dz-message needsclick">
    <h3 class="dropzone-msg-title">Drag here to upload or Click here to browse</h3>
    <span class="dropzone-msg-desc">Max file size 25MB</span>
  </div>
</div>
