<% @new_file_name = params[:new_file_name] %>
<% if @new_file_name %>
<div class='flex flex-wrap justify-center gap-2 border-2 p-4 shadow-md mt-10
ml-10 mr-10 rounded' >


<%= link_to "Preview file", preview_path(new_file_name:
params[:new_file_name]), target: "_blank", class: "shadow min-w-max bg-[rgb(80,124,92)]
hover:bg-gray-400 focus:shadow-outline
  focus:outline-none text-white font-bold m-2 py-2 px-4 rounded max-w-min" %>



<%= link_to "Download file", download_path(new_file_name:
params[:new_file_name]), class: "shadow min-w-max max-h-fit bg-[rgb(80,124,92)]
hover:bg-gray-400 focus:shadow-outline
  focus:outline-none text-white font-bold m-2 py-2 px-4 rounded max-w-min" %>
</div>
<% end %>

<div class="m-5 mt-15 p-5 max-w-xl shadow-lg">
    <p>Feel free to upload and process your files multiple times to get a new random set of colors
    generated. I tried to add enough colors for the max number of parts per page
    without having colors be too similar. I will continue to add more sections to
    the search function in the future. Files 06_10.pdf through 12_10.pdf should
    work pretty well with only minor discrepancies <br>
    <br>
    Also of note: Occasionally the underlying program that searches the PDF may miss
    parts even if they are included in my list of known parts. If a specific part is
    highlighted in one spot but not another, I don't currently have a good way to
    fix that. However, if a part number is never highlighted throughout the
    entire PDF, I may just need to add that part to the master part list. Shoot
    me an <a href="mailto: jmilljr24@gmail.com" class="underline text-[rgb(80,124,92)]">email</a> and I'll take a look. <br>
    <br>
    Another issue I'm working on is part numbers with A,B,C...ect at the end. If
    I add to the search for example, F-1011 and F-1011A, when it finds F-1011A it
    will highlight it with both colors. I feel some parts is makes sense to not
    search for the letter designation as all the parts are basically the same
    but in different locations in the build. Other times, It can be more
    important when they are sub-parts being joined together. </p>
</div>

<div class="min-h-screen"></div>
