<div class="grid grid-cols-1">
  <h1 class="text-xl m-4">Broken files from  Vans's</h1>
  <p class="max-w-3xl ml-4 mb-4">The follow section file's do not contain OCR due to Van's not adding it. This
    means you cannot search for text on the page. This program cannot highlight if
    you cannot search for text.</p>
  <div class="justify-self-center flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="border rounded-lg shadow-md overflow-hidden">
          <table class="min-w-max text-left text-sm font-light">
            <thead
                class="border-b bg-white font-medium dark:border-neutral-600 dark:bg-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">Section</th>
                <th scope="col" class="px-6 py-4">Affected Pages</th>
              </tr>
            </thead>
            <tbody>
              <tr
                  class="border-b bg-white dark:bg-neutral-500 transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-600 dark:hover:bg-neutral-600">
                <td class="whitespace-nowrap px-6 py-4 font-medium">37</td>
                <td class="whitespace-nowrap px-6 py-4">3, 5, 7</td>
              </tr>
              <tr
                  class="border-b bg-white dark:bg-neutral-500 transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-600 dark:hover:bg-neutral-600">
                <td class="whitespace-nowrap px-6 py-4 font-medium">38</td>
                <td class="whitespace-nowrap px-6 py-4">ALL</td>
              </tr>
              <tr
                  class="border-b bg-white dark:bg-neutral-500 transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-600 dark:hover:bg-neutral-600">
                <td class="whitespace-nowrap px-6 py-4 font-medium">41</td>
                <td class="whitespace-nowrap px-6 py-4">ALL</td>
              </tr>
              <tr
                  class="border-b bg-white dark:bg-neutral-500 transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-600 dark:hover:bg-neutral-600">
                <td class="whitespace-nowrap px-6 py-4 font-medium">43</td>
                <td class="whitespace-nowrap px-6 py-4">1, 2, 3, 4, 8, 9, 11, 13</td>
              </tr>
              <tr
                  class="border-b bg-white dark:bg-neutral-500 transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                <td class="whitespace-nowrap px-6 py-4 font-medium">45</td>
                <td class="whitespace-nowrap px-6 py-4">1-16, 18, 19</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="text-sm">*Updated on 25 Nov 2023</p>
<div class="min-h-screen"></div>
