<div class="m-5 mt-15 p-5 max-w-xl shadow-lg">
  <p class="dark:text-zinc-500">The background program that parses the files is
    written in python. If you prefer to run it locally from the command line or
    wish to make personal changes, you can find the script in my github repo <a class="underline
  text-[rgb(80,124,92)]" href="https://github.com/jmilljr24/HighlightParts">HighlightParts</a>
  </p>
</div>
<div class="min-h-screen"></div>
