<div id="progress_bar">
  <!-- Progress -->
  <div
    class="
      flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-neutral-700
    "
    role="progressbar"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    <div
      class="
        flex flex-col justify-center rounded-full overflow-hidden bg-blue-600 text-xs
        text-white text-center whitespace-nowrap transition duration-500
        dark:bg-blue-500
      "
      style="width:<%= progress  %>%"
    >
    </div>
  </div>
  <!-- End Progress -->
</div>
