<p style="color: green"><%= notice %></p>
<h1>User pdfs</h1>
<div id="user_pdfs">
  <% @user_pdfs.each do |user_pdf| %>
    <%= render user_pdf %>
    <p>
      <%= link_to "Show this user pdf", user_pdf %>
    </p>
  <% end %>
</div>
<%= link_to "Click here to start an upload", new_user_pdf_path %>
